<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div> -->
            <div class="card-body">
                <form #login="ngForm">
                    <div class="col-md-12 row">
                        <h3 class="text-center" style="width: 100%;">
                            <p>Client Registration</p>
                        </h3>

                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Client Name</mat-label>
                                <input matInput id="userid" name="userid" #userid="ngModel" [(ngModel)]="uid"
                                    placeholder="Enter Full Name" appAlphabetsOnly>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Domain Name</mat-label>
                                <input matInput id="domains" name="domains" #domains="ngModel" [(ngModel)]="_domain"
                                    placeholder="Enter Domain Name" appAlphabetsOnly>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Email Id</mat-label>
                                <input matInput id="email" name="email" #email="ngModel" [(ngModel)]="mail"
                                    placeholder="Enter Email Id">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Mobile</mat-label>
                                <input matInput id="mobile" name="mobile" #mobile="ngModel" [(ngModel)]="contactno"
                                    placeholder="Enter Mobile Number" appNumberOnly>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Address</mat-label>
                                <textarea matInput id="addr" name="addr" #addr="ngModel" [(ngModel)]="address"
                                    placeholder="Enter Address"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>City</mat-label>
                                <input type="text" required id="_city" name="_city" #_city="ngModel" [(ngModel)]="city"
                                    matInput placeholder="Enter City" appAlphaNumeric>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>State</mat-label>
                                <input type="text" required id="_state" name="_state" #_state="ngModel"
                                    [(ngModel)]="state" matInput placeholder="Enter State" appAlphaNumeric>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Subscription Start Date</mat-label>
                                <input type="text" required id="subscription_start_date" name="subscription_start_date"
                                    #subscription_start_date="ngModel" [(ngModel)]="substartdate" matInput
                                    [matDatepicker]="picker1" (dateInput)="addEvent('input', $event)"
                                    (dateChange)="addEvent('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Subscription End Date</mat-label>
                                <input type="text" required id="subscription_end_date" name="subscription_end_date"
                                    #subscription_end_date="ngModel" [(ngModel)]="subenddate" matInput
                                    [matDatepicker]="picker2" (dateInput)="addEvent('input', $event)"
                                    (dateChange)="addEvent('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Password</mat-label>
                                <input type="password" required id="password" name="password" #password="ngModel"
                                    [(ngModel)]="pwd" matInput placeholder="Enter Password" appAlphaNumeric
                                    updateValueAndValidity="confirmpwd">
                            </mat-form-field>

                            <small [hidden]="password.valid || (password.pristine && !password.submitted)"
                                class="text-danger">
                                Password mismatch
                            </small>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Confirm Password</mat-label>
                                <input type="password" appPasswordMatch="password" id="confirmpwd" name="confirmpwd"
                                    #confirmpwd="ngModel" [(ngModel)]="cpwd" matInput
                                    placeholder="Enter Confirm Password" appAlphaNumeric>
                            </mat-form-field>

                            <small [hidden]="confirmpwd.valid || (confirmpwd.pristine && !confirmpwd.submitted)"
                                class="text-danger">
                                Password mismatch
                            </small>
                        </div>

                        <label class="col-md-12">
                            <div mat-dialog-content class="buttoncss">
                                <mat-label>
                                    <h4 style="text-align: center; margin-top: 30px;">
                                        <b>Drag and drop file here</b>
                                    </h4>
                                </mat-label>
                                <div class="clearfix"></div>
                                <div class="col-md-12" for="imgupload" class="dropzone" appDragDrop
                                    (files)="filesDropped($event)">
                                    <mat-label>
                                        <h5 style="text-align: center">File types accepted: .jpg, .png etc.
                                            <br><span>Max file size: 75 Mb</span></h5>
                                    </mat-label>
                                    <h3>
                                        <span id="FileName"></span>
                                    </h3>
                                    <div *ngFor="let file of files">
                                        <img id="imgupload" *ngIf="file" [src]="file.url">
                                    </div>
                                    <div class="clearfix"></div> <br>

                                    <input type="file" id="photo" style="background-color: whitesmoke;"
                                        class="uploadcontrol" name="photo" (change)="onSelectFile($event)" />
                                </div>

                                <div class="clear"></div><br>
                            </div>
                        </label>

                        <div class="col-md-12">
                            <button type="button" class="regbtn" (click)="InsertClientDetails()">Register</button>
                            <span class="psw">
                                <button type="button" class="cancelbtn">Cancel</button>
                            </span>
                        </div>
                    </div>
                </form>

                <div fxLayout fxLayoutAlign="center center">
                    <mat-form-field fxFlex="40%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>
                </div>

                <table mat-table matSort [dataSource]="dataSource">
                    <ng-container matColumnDef="Client_Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
                        <td mat-cell *matCellDef="let element">
                            <input type="hidden" name="" id="client_{{element._id}}">
                            {{element.cdetails[0].Client_Name}}
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
                        <td mat-cell *matCellDef="let element">
                            <input type="hidden" name="" id="client_{{element._id}}">
                            {{element.email}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                        <td mat-cell *matCellDef="let element">
                            <input type="hidden" name="" id="client_{{element._id}}">
                            {{element.mobile}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="DomainName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Domain Name </th>
                        <td mat-cell *matCellDef="let element">
                            <input type="hidden" name="" id="client_{{element._id}}">
                            {{element.DomainName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <a mat-icon-button (click)="getdata(element); open(mymodal)">
                                <span class="material-icons" style="color: #28A745;">
                                    update
                                </span>
                            </a>
                            <a mat-icon-button (click)="DeleteCategory(element._id)">
                                <span class="material-icons" style="color: #DC3545;">
                                    delete
                                </span>
                            </a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>