<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-12 row">
                    <div class="col-md-9">
                      <h4 class="card-title">Store</h4>
                    </div>
                    <div class="col-md-3">
                      <button mat-button color="warn" style="background-color: #f44336; color: #fff;" (click)="open(insertstore)">Insert Store</button>
                    </div>
                  </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="mat-elevation-z8">
                        <div fxLayout fxLayoutAlign="center center">
                            <mat-form-field fxFlex="40%">
                                <input matInput type="text" (keyup)="doFilter($event.target.value)"
                                    placeholder="Search">
                            </mat-form-field>
                        </div>

                        <table mat-table matSort [dataSource]="dataSource">
                            <ng-container matColumnDef="store_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Store Name </th>
                                <td mat-cell *matCellDef="let element">
                                    <input type="hidden" name="" id="brand_{{element._id}}">
                                    {{element.store_name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="phone">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.phone}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.email}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="street">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.street}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="city">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.city}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.state}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="zip_code">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pin Code </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.zip_code}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <a mat-icon-button (click)="getdata(element); open(mymodal)">
                                        <span class="material-icons" style="color: #28A745;">
                                            update
                                        </span>
                                    </a>
                                    <a mat-icon-button (click)="DeleteBrand(element._id)">
                                        <span class="material-icons" style="color: #DC3545;">
                                            delete
                                        </span>
                                    </a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- entry in polyfills.ts file -->

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Store Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="material-icons" style="color: #DC3545;">
                close
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12 row" *ngFor="let cd of CustomerDetails">
            <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Store Name</mat-label>
                    <input matInput placeholder="Store Name" maxlength="60" id="txtstoredname" value="{{cd.store_name}}" appAlphabetsOnly>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" maxlength="10" id="txtphone" appNumberOnly value="{{cd.phone}}">
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="Email" maxlength="120" id="txtmail" value="{{cd.email}}">
                </mat-form-field>
            </div>
            <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Street</mat-label>
                    <input matInput placeholder="Street" maxlength="150" id="txtaddr" value="{{cd.street}}">
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" maxlength="30" id="txtcity" value="{{cd.city}}" appAlphabetsOnly>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="State" maxlength="30" id="txtstate" value="{{cd.state}}" appAlphabetsOnly>
                </mat-form-field>
            </div>
            <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Pin Code</mat-label>
                    <input matInput placeholder="Pin Code" value="{{cd.zip_code}}" maxlength="6" id="txtzip" appNumberOnly>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" style="background-color: #F96332;"
            (click)="UpdateBrand()">Update</button>
    </div>
</ng-template>

<ng-template #insertstore let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Store</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span class="material-icons" style="color: #DC3545;">
          close
        </span>
      </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12 row">
            <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Store Name</mat-label>
                    <input matInput placeholder="Store Name" maxlength="60" id="txtstoredname1" appAlphabetsOnly>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" maxlength="10" id="txtphone1" appNumberOnly>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="Email" maxlength="120" id="txtmail1">
                </mat-form-field>
            </div>
            <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Street</mat-label>
                    <input matInput placeholder="Street" maxlength="150" id="txtaddr1">
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" maxlength="30" id="txtcity1" appAlphabetsOnly>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="State" maxlength="30" id="txtstate1" appAlphabetsOnly>
                </mat-form-field>
            </div>
            <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Pin Code</mat-label>
                    <input matInput placeholder="Pin Code" maxlength="6" id="txtzip1" appNumberOnly>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" style="background-color: #F96332;" (click)="InsertStore()">Insert Store</button>
    </div>
  </ng-template>