<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Pending</h5>
        <h4 class="card-title">Orders Pending!</h4>
        <div class="dropdown">
          <!-- <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
            <i class="now-ui-icons loader_gear"></i>
          </button> -->
          <button class="btn btn-outline">Show All</button>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- <canvas id="lineChartExample"></canvas> -->
          <!-- <div style="font-size: 80px; text-align: center;">{{dashboardData[0].data.orders_pending}}</div> -->
          <div style="font-size: 80px; text-align: center;">6</div>
        </div>
       <!-- <div style="color: red; font-size:30px;"> in progress..</div> -->
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Processing</h5>
        <h4 class="card-title">Orders Processing!</h4>
        <div class="dropdown">
          <!-- <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div> -->
          <button class="btn btn-outline">Show All</button>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- <canvas id="lineChartExample"></canvas> -->
          <!-- <div style="font-size: 80px; text-align: center;">{{dashboardData[0].data.orders_processing}}</div> -->
          <div style="font-size: 80px; text-align: center;">70</div>
        </div>
       <!-- <div style="color: red; font-size:30px;"> in progress..</div> -->
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Completed</h5>
        <h4 class="card-title">Orders Completed!</h4>
      </div>
      <div class="dropdown">
        <!-- <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
          <i class="now-ui-icons loader_gear"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item text-danger" href="#">Remove Data</a>
        </div> -->
        <button class="btn btn-outline">Show All</button>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- <canvas id="lineChartExample"></canvas> -->
          <!-- <div style="font-size: 80px; text-align: center;">{{dashboardData[0].data.orders_completed}}</div> -->
          <div style="font-size: 80px; text-align: center;">160</div>
        </div>
       <!-- <div style="color: red; font-size:30px;"> in progress..</div> -->
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Total</h5>
        <h4 class="card-title">Total Products!</h4>
        <div class="dropdown">
          <!-- <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div> -->
          <button class="btn btn-outline">Show All</button>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- <canvas id="lineChartExample"></canvas> -->
          <!-- <div style="font-size: 80px; text-align: center;">{{dashboardData[0].data.total_products}}</div> -->
          <div style="font-size: 80px; text-align: center;">785</div>
        </div>
       <!-- <div style="color: red; font-size:30px;"> in progress..</div> -->
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Total</h5>
        <h4 class="card-title">Total Customers!</h4>
        <div class="dropdown">
          <!-- <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div> -->
          <button class="btn btn-outline">Show All</button>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- <canvas id="lineChartExample"></canvas> -->
          <!-- <div style="font-size: 80px; text-align: center;">{{dashboardData[0].data.total_cutomers}}</div> -->
          <div style="font-size: 80px; text-align: center;">409</div>
        </div>
       <!-- <div style="color: red; font-size:30px;"> in progress..</div> -->
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Total</h5>
        <h4 class="card-title">Total Sales!</h4>
      </div>
      <div class="dropdown">
        <!-- <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
          <i class="now-ui-icons loader_gear"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item text-danger" href="#">Remove Data</a>
        </div> -->
        <button class="btn btn-outline">Show All</button>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- <canvas id="lineChartExample"></canvas> -->
          <!-- <div style="font-size: 80px; text-align: center;">{{dashboardData[0].data.total_posts}}</div> -->
          <div style="font-size: 80px; text-align: center;">90000</div>
        </div>
       <!-- <div style="color: red; font-size:30px;">in progress..</div> -->
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
</div>