/* You can add global styles to this file, and also import other style files */
@import '../src/assets/scss/now-ui-dashboard.scss';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';
//@import '~bootstrap/scss/functions';
//@import '~bootstrap/scss/variables';
//@import '~bootstrap/scss/mixins';
//@import '~ngx-toastr/toastr-bs4-alert';

.buttoncss {
    border: none;
    border: 2px solid #F96332;
    background-color: #F96332;
    color: black;
    padding: 2px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
  }

//   div {
//     position: relative;
//     overflow: hidden;
//   }
  .uploadcontrol {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }

  input {
    padding: 6px;
    // display: block;
    border: 2px solid lightgray;
    background-color: whitesmoke;
    border-bottom: 1px solid #ccc;
    width: 90%;
}

  .button {
    // position: absolute;
    // right: 33px;
    // top: 41px;
    // border: none;
    // height: 20px;
    // width: 20px;
    // border-radius: 100%;
    // outline: none;
    // text-align: center;
    // font-weight: bold;
    // padding: 2px;
    position: absolute;
    left: 13px;
    /* top: 41px; */
    border: none;
    // height: 20px!important;
    // width: 20px!important;
    border-radius: 100%;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

.btnremove {
  // background-color: #F5F5F5; /* Green */
  // border: none;
  // color: white;
  // padding: 20px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 16px;
  // margin: 4px 2px;
  // cursor: pointer;
    border: 2px solid lightgray;
    background-color: whitesmoke;
    width: 42px;
    color: black;
    text-align: center;
    text-decoration: none;
    height: 34px;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
}

.dropzone {
  // min-height: 400px;
  // min-width: 400px;
  // display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}